<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Online Enrollment System</h1>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Enrollment &copy; 2025</p>
    </footer>
    
</body>
</html>